body {
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
    background-attachment: fixed;
}

#search {
    text-align: center;
    border: none;
    overflow: auto;
    height: 65px;
    cursor: pointer;
}

.row {
    margin-bottom: 0;
}

#filterBtn {
    margin-top: 2em;
}

select {
    margin-top: 1.5em;
}

.select-wrapper {
    color: #ffffff;
}

nav .input-field {
    height: 65px;
}

#welcome {
    text-align: center;
    background-image: url(../images/MillennialsSitting.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    height: 300px;
    color: #ffffff;
    margin-bottom: 1.3em;
}

#welcome p {
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
}

h1 {
    font-size: 3em;
}

.page-footer {
    margin-top: 1.2em;
}

.card-content {
    overflow: auto;
    text-align: left;
}

img {
    width: 100%;
}

.card-content {
    height: 200px;
}
.card-content p {
    overflow: scroll;
}

.card-title {
    text-align: center;
}

#trailerBtn {
    width: 100%;
    margin: 1.5em 0 1.5em 0;
}

.input-field {
    height: 200px;
    margin-top: 50px;
}

#filterOptions {
    height: 300px;
    color: #ffffff;
    overflow: auto;
}

.select-wrapper input.select-dropdown {
    font-size: 1.5em;
}

.center {
    cursor: pointer;
}

.info {
    margin-top: 6em;
}

.synopsis {
    margin-top: 1.5em;
}

.nytReview {
    margin-top: 1.5em;
}

.brand-logo {
    height: 65px;
    padding-left: 10px;
    padding-top: 6px;
}

nav .brand-logo.right{
    padding-left: 10px;
    padding-top: 6px;
}

.brand-logo {
    cursor: pointer;
}

ul {
    display: inline-flex;
}

li {
    margin-left: 80px;
}

h5 {
    text-align: center;
}

#nytHeader {
    text-decoration: underline;
}

.bob p {
    font-size: 1.2em;
}